<%- include('../partials/header') %>
<div class="container-main">  
  <br>&nbsp; 
  <h4 align="center">My Actvities</h4>
  <div class="row">    
    <div class="col-8">      
      <% if(errorMsg) { %>
      <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Something went wrong !</strong> <p><%= errorMsg %></p>
      </div>
      <% } %>
      <br>
      <div class="row">
        <table>
          <thead>
            <tr>
              <td>Choose Date
                <div class="col-6">              
                  <input type="date" name="activitydate" id="activitydate" class="form-control form-control-lg" value="<%= activitydate %>" onchange="chooseActivityDate(this)"/>
                </div>
              </td>
            </tr>
            </thead>
          </table>
          <br/>&nbsp;
      <table class="table table-hover table-secondary"">
        <thead>
          <tr>
            <th>Time</th>
            <th>Activity</th>
            <th>Notes</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Write the line of EJS to iterate over flights using forEach -->
          <% activities.forEach(a => { %>
          <tr>
            <td><%= a.activitytime.toLocaleTimeString() %></td>
            <td><%= a.activity %></td>
            <td><%= a.notes %></td>
            <td>
              <a href="/activities/<%= a._id%>/edit" class="btn btn-primary">EDIT</a>
            </td>
            <td>
              <form action="/activities/<%= a._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary">DELETE</button>
              </form>
          </tr>
          <!-- Close the forEach using EJS here -->
          <% }); %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-4">
      <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
      <div class="card mb-3">
        <h3 class="card-header">Priorities</h3>
        <div class="card-body">                      
          <ul>
            <% priorities.forEach(p => { %>
              <li><%=p.activity%></li>
            <% }); %>                          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
